.illustrations{
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 200ms ease-in 200ms, transform 200ms ease-in;
}
@include tablet{
    .illustrations:hover{
        transform: scale(1.1);
        box-shadow: 0 0 5px 3px rgba(145, 80, 206, 0.644);
    }
}
.banner{
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 250px;
    height: 142px;
}
@include tablet{
    .banner{
        height: 200px;
    }
}
@include desktop{
    .banner{
        height: 250px;
    }
}
.logomoruk{
    width: 15%;
    min-width: 55px;
}
.ilustracionSobreMi{
    display: block;
    width: 250px;
    border-radius: 2rem;
    margin: 0 auto;
}
.containerImagenSoporte{
    margin: 15px 0 15px 0;
    & img{
        width: 70px;
        transition: transform 200ms ease-in;
    &:hover{
        transform: scale(1.05);
    }
    }
}
@include desktop{
    .containerImagenSoporte img{
        width: 100px;
    }
}
