.illustrations{
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 200ms ease-in 200ms, transform 200ms ease-in;
}
@media(min-width:700px){
    .illustrations:hover{
        transform: scale(1.1);
        box-shadow: 0 0 5px 3px rgba(145, 80, 206, 0.644);
    }
}
.banner{
    display: flex;
    justify-content: center;
    width: 65%;
    min-width: 320px;
    height: 40vh;
}