*{
    font-family:$primary-font;
}
.bg-color-bootstrap{
    background-color: $primary-color;
}

a {
    text-decoration: none;
    color: $text-color;
    &:hover{
        color: $text-color;
    }
}
h2{
    color: $text-color;
    background-color: $secondary-color;
    text-align: center;
}
h3{
    color: $text-color;
}
p{
    color: $secondary-color;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.034);
    font-size: 1.5rem;
}
.nav-link{
    color: $text-color !important;
    &.active{
        color: $text-color !important;
    }
}
.navbar-toggler{
    border: none;
    &:focus{
        box-shadow: none;
    }
}
.line{
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px solid white;
    background-color: rgba(180, 128, 228, 0.521); 
}
.footer__logo{
    width: 30%;
    min-width: 40px;
}
.container__footer--bootstrap li:hover{
    animation: transition--menu--left 500ms forwards;
}
@keyframes transition--menu--left{
    from{transform: translateX(0);}
    to{transform: translateX(-10px);}
}
.gmap_canvas{
    overflow:hidden;
    background:none!important;
}
.txt_contacto{
    color: $secondary-color;
    transition: background-color 300ms ease, color 300ms ease;
}
.txt_contacto:hover{
    color: $text-color;
    background-color: $secondary-color;
}