.letraChica {
  font-size: 1.2rem;
}

.letraMediana, .btn, .btn_names {
  font-size: 1.4rem;
}

.letraGrande {
  font-size: 1.6rem;
}

.colorPrincipal {
  color: rgba(179, 128, 228, 0.5803921569);
}

.colorSecundario {
  color: #C396F0;
}

* {
  font-family: "Gentium Plus", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bg-color-bootstrap {
  background-color: rgba(179, 128, 228, 0.5803921569);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

h1 {
  display: inline-flex;
  justify-content: flex-start;
  padding: 0 10px 0 10px;
  margin-top: 10px;
  color: white;
  background-color: #C396F0;
}

h2 {
  color: white;
  background-color: rgba(179, 128, 228, 0.5803921569);
  text-align: center;
}

h3 {
  color: white;
}

h4 {
  margin: 10px auto 10px auto;
  text-align: center;
  color: white;
  padding: 5px;
  background-color: rgba(196, 89, 196, 0.2470588235);
}

h6 {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  margin: 10px auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  color: #C396F0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.034);
  font-size: 1.2rem;
}

.nav-link {
  color: white !important;
}
.nav-link.active {
  color: white !important;
}
@media screen and (min-width: 680px) {
  .nav-link {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav-link {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .nav-link {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1880px) {
  .nav-link {
    font-size: 2.3rem;
  }
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.line {
  text-align: center;
  font-weight: bolder;
  border-bottom: 2px solid white;
  background-color: rgba(180, 128, 228, 0.521);
}

.footer__logo {
  width: 30%;
  min-width: 40px;
}

@media screen and (min-width: 680px) {
  .container__footer--bootstrap li {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container__footer--bootstrap li {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .container__footer--bootstrap li {
    font-size: 1.5rem;
  }
}
.container__footer--bootstrap li:hover {
  animation: transition--menu--left 500ms forwards;
}

@keyframes transition--menu--left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

.txt_contacto {
  color: #C396F0;
  transition: transform 300ms ease, color 300ms ease;
}

.txt_contacto:hover {
  transform: scale(0.9);
}

.textoSobreMi {
  padding: 3rem;
  letter-spacing: 2px;
}

.positionImgSobreMi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.1;
}
.positionImgSobreMi img {
  width: 200px;
}
@media screen and (min-width: 680px) {
  .positionImgSobreMi {
    flex-direction: row;
  }
}

.modal-footer {
  border-top: none;
}

.bgYellow {
  text-align: center;
  font-weight: bolder;
  background: #e7e74f;
}

.bgGreen {
  text-align: center;
  font-weight: bolder;
  background: #20a520;
}

.bgRed {
  text-align: center;
  font-weight: bolder;
  background: #e02f2f;
}

.bgPsico {
  text-align: center;
  font-weight: bolder;
  background: linear-gradient(90deg, rgba(48, 21, 255, 0.829) 17%, rgba(147, 61, 222, 0.8519782913) 35%, rgba(234, 0, 255, 0.815) 100%);
}

.bgGrey {
  text-align: center;
  font-weight: bolder;
  background: #6d6c6c;
}

.bgPinkcake {
  text-align: center;
  font-weight: bolder;
  background: #ffc0cb;
}

.bgLightblue {
  text-align: center;
  font-weight: bolder;
  background: #67c5e4;
}

.bgBrown {
  text-align: center;
  font-weight: bolder;
  background: #862525;
}

.bgViolet {
  background: #c459c4;
}

.bgBlackorange {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(207, 53, 18) 70%);
}

.bgBlackwhite {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
}

.modal {
  --bs-modal-bg: none;
  --bs-modal-border-width: 0px;
}
.modal-header {
  border-bottom: 0px;
  margin-bottom: 5px;
}

.positionBgImages {
  position: absolute;
  margin-top: 20px;
  width: 85%;
  z-index: -100;
}

.backgroundImages {
  display: grid;
  min-width: 100%;
  height: 100%;
  row-gap: 25px;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.backgroundImagesIllustrations {
  background-size: contain;
  background-position: center;
  opacity: 0.6;
  align-items: center;
}

@media screen and (min-width: 680px) {
  .positionBgImages {
    width: 95%;
  }
  .backgroundImages {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .bgImage10 {
    display: none;
  }
}
.bgImages, .bgImage10, .bgImages9, .bgImages8, .bgImages7, .bgImages6, .bgImages5, .bgImages4, .bgImages3, .bgImages2, .bgImages1 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  height: 150px;
  transform: rotate(15deg);
}

.bgImages1 {
  background-image: url(../images/illustrations/frog6.jpeg);
}

.bgImages2 {
  background-image: url(../images/illustrations/producto3.jpeg);
}

.bgImages3 {
  background-image: url(../images/illustrations/frog5.jpeg);
}

.bgImages4 {
  background-image: url(../images/illustrations/producto1.jpeg);
}

.bgImages5 {
  background-image: url(../images/illustrations/producto9.jpeg);
}

.bgImages6 {
  background-image: url(../images/illustrations/producto7.jpeg);
}

.bgImages7 {
  background-image: url(../images/illustrations/producto3.jpeg);
}

.bgImages8 {
  background-image: url(../images/illustrations/producto5.jpeg);
}

.bgImages9 {
  background-image: url(../images/illustrations/producto8.jpeg);
}

.bgImage10 {
  background-image: url(../images/illustrations/producto1.jpeg);
}

#ranavaqueraModal {
  margin: 0 auto;
  align-items: center;
  background-image: url(../images/background/salvaje-oeste.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#ranalenadoraModal {
  background-image: url(../images/background/arboles-talados.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ranafrutillaModal {
  background-image: url(../images/background/frutos-del-bosque.webp);
}

#ranamoraModal {
  background-image: url(../images/background/fondo-moras.jpg);
  background-position: center;
}

#psicoranaModal {
  background-image: url(../images/background/fondopsicorana.jpg);
  background-position: center;
  background-size: cover;
}

#ranaobreraModal {
  background-image: url(../images/background/fondo-obrera.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 680px) {
  #ranaobreraModal {
    background-size: contain;
  }
}
#avocatoModal {
  background-image: url(../images/background/fondo-avocato.jpg);
  background-position: center;
  background-size: contain;
}

#tricancopitoModal {
  background-image: url(../images/background/fondo-trican.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 680px) {
  #tricancopitoModal {
    background-position: left;
    background-size: contain;
  }
}
#anoukModal {
  background-image: url(../images/background/fondo-anouk.webp);
  background-position: center;
  background-size: contain;
}

#wildpantherModal {
  background-image: url(../images/background/fondo-selva.webp);
  background-position: center;
  background-size: cover;
}

#happypizzaModal {
  background-image: url(../images/background/fondo-pizza.webp);
  background-position: center;
  background-size: contain;
}

#jukyModal {
  background-image: url(../images/background/fondo-playa.jpg);
  background-size: cover;
}

#coctelModal {
  background-image: url(../images/background/fondo-cocteles.jpeg);
  background-size: 400px;
}

#moonflowersModal {
  background-image: url(../images/background/fondo-moonflowers.webp);
  background-size: 300px;
}

#bluModal {
  background-image: url(../images/background/fondo-dinosaurios.webp);
  background-size: 150px;
}

.btn, .btn_names {
  cursor: pointer;
  height: 40px;
  width: 80px;
  background-color: #C396F0;
  border-radius: 10px;
  color: white;
  font-family: "Gentium Plus", serif;
  border-width: 0px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.301);
  display: inline;
  transition: background-color 300ms ease;
}
.btn:hover, .btn_names:hover {
  background-color: #fff;
  color: #C396F0;
  border: 1px solid #C396F0;
}

.btnModal {
  background-color: none;
  text-align: center;
  align-content: center;
  width: 100px;
  height: 50px;
  font-family: "Gentium Plus", serif;
  color: white;
  border-radius: 10px;
  border-width: 0px;
}

.btn_names {
  width: 200px;
  margin-top: 13px;
}

.accordion-button {
  display: block;
  text-align: center;
  background-color: #C396F0;
  color: white;
  font-family: "Gentium Plus", serif;
  font-size: 1.3rem;
  border: none;
  transition: transform 300ms ease;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #C396F0;
  transform: none;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:hover {
  transform: scale(0.9);
}

.illustrations {
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 200ms ease-in 200ms, transform 200ms ease-in;
}

@media screen and (min-width: 680px) {
  .illustrations:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 3px rgba(145, 80, 206, 0.644);
  }
}
.banner {
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 250px;
  height: 142px;
}

@media screen and (min-width: 680px) {
  .banner {
    height: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    height: 250px;
  }
}
.logomoruk {
  width: 15%;
  min-width: 55px;
}

.ilustracionSobreMi {
  display: block;
  width: 250px;
  border-radius: 2rem;
  margin: 0 auto;
}

.containerImagenSoporte {
  margin: 15px 0 15px 0;
}
.containerImagenSoporte img {
  width: 70px;
  transition: transform 200ms ease-in;
}
.containerImagenSoporte img:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .containerImagenSoporte img {
    width: 100px;
  }
}
.logosFooter {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.logosFooter li {
  padding: 5px;
}
.logosFooter img {
  width: 45px;
}

@media screen and (min-width: 680px) {
  .logosFooter {
    justify-content: space-around;
  }
  .logosFooter img {
    width: 70px;
  }
}
.input_style {
  border-width: 0 0 1px 0;
}

/*# sourceMappingURL=sassstyle.css.map */
