*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gentium Plus', serif;
}

/* PRINCIPAL LAYOUT */

.container__grid{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

a{
    text-decoration: none;
    color: #fff;
}

h2{
    background-color: rgb(179, 128, 228);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 25px;
    font-size: 1rem;
}
footer{
    margin-top: 40px;
}
.position__title{
    display: flex;
    justify-content: flex-start;
    margin-top: 13px;
}
 .container__header nav{
    background: linear-gradient(180deg, rgba(179, 128, 228, 0.582) 17%, rgba(180, 128, 228, 0.644) 35%, rgba(180, 128, 228, 0.733) 100%);    
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
} 

.container__header li{
    font-size: 0.85rem;
    display: inline-block;
    transition: background-color 400ms ease-in 300ms;
}

.container__header img{
    width: 50px;
}

.container__footer{
    background: linear-gradient(180deg, rgba(179, 128, 228, 0.582) 17%, rgba(180, 128, 228, 0.644) 35%, rgba(180, 128, 228, 0.733) 100%);
    width: 100%;
    height: 100%;
    color: white;
}

.container__footer h3{
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    border-bottom: 2px solid white;
    background-color: rgba(180, 128, 228, 0.521);
}


.container__elements--position{
    display: flex;
    justify-content: space-between;
}

.container__footer ul{
    /* display: inline-block; */
    padding: 5px;
    font-size: .9rem;
}

.container__footer li:hover{
    animation: transition--menu--left 500ms forwards;
}

.container__footer--img{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--img{
    width: 30px;
    margin: 5px;
}

.menu__nav--li-sombreado{
    background-color:rgba(180, 128, 228, 0.644)
}

.container__header li:hover{
    font-weight: bolder;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.671);
    animation: transition--menu--up 500ms forwards;
}

@keyframes transition--menu--up{
    from{transform: translateY(0);}
    to{transform: translateY(-10px);}
}

@keyframes transition--menu--left{
    from{transform: translateX(0);}
    to{transform: translateX(-10px);}
}

@media (min-width:680px)
{
    .container__header li{
        font-size: 1.2rem;
        display: inline-block;
        margin-left: 10px;
    }

    .container__header img{
        width: 70px;
    }    

    .container__footer h3{
        font-size: 1.5rem;
    }
    .container__footer p{
        font-size: 1.2rem;
        padding: 5px 0 0 15px;
        margin-left: 20%;
    }
    .container__footer--img{
        width: 60%;
        justify-content: space-around;
    }
    .footer--img{
        width: 60px;
    }
    .container__footer ul{
        display: inline-block;
        padding: 5px;
        font-size: 1.3rem;
    }
}
@media (min-width:1024px)
{
        .container__header nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }  
        .container__header li{
            margin: 0 10px 0 90px;
            font-size: 1.5rem;

        }
} 

.container__banner{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.main__banner{
    width: 100%;
    max-height: 300px;
    max-width: 1000px;
}



/* ------------------------------------------------ */

/* ----ILLUSTRATIONS---- */
.flex__illustrations{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
}

.illustrations{
    width: 80%;
    height: 50%;
    max-width: 220px;
    max-height: 220px;
    margin: 10px;
    margin-top: 30px;
    transition: box-shadow 300ms ease-in 200ms, transform 400ms ease-in;
}

.illustrations:hover {
    transform: scale(1.2);
    justify-content: center;
    box-shadow: 0 0 5px 3px rgba(145, 80, 206, 0.644);
}

@media(min-width: 480px){
    .flex__illustrations{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
@media(min-width: 1440px){
    /* .container__grid--auto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100vh auto;
    } */
}
    .illustrations{
        width: 40vw;
        height: 40vh;
    }
}
/* ----------------------------------- */

/* FORM */

.contenedor__contacto--form{
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.container__contact--form{
    margin: 5px 0 0 0;
}

.form__buttons--position{
    display: inline;
    margin: 7px auto;
}

#boton-enviar, #boton-reset{
    cursor: pointer;
	height: 50px;
	width: 100px;
    margin-top: 3px;
	background-color: #C396F0;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
	font-family: Abril_Fatface;
	border-width: 0px;
	font-weight: bold;
	box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.301);
    display: inline;
    margin: 0 auto;
}

/* ----------------------------------- */

/* FAQ */
/* .container__grid--auto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
} */
.container__faq--questions{
    text-align: center;
    margin-top: 10px;
}
.faq__questions{
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    background-color: #C396F0;
}
.container__faq--answers{
    margin-top: 10px;
    margin-bottom: 5px;
}
.faq__answers{
    font-size: 0.9rem;
    text-align: justify;
}
@media (min-width:768px){
    .position__title{
        display: flex;
        justify-content: center;
        margin-top: 13px;
    }
    h2{
        font-size: 1.2rem;
    }
}
@media(min-width:1024px){
    h2{
        font-size: 1.4rem;
    }
    .faq__questions{
        font-size: 1.3rem;
    }
    .faq__answers{
        font-size: 1rem;
    }
}